<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">ESTRUTURA SCRIPT NOVO</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Jhonatan Oliveira</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
   <_locTag _loc="locData">Default</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>ESTRUTURA SCRIPT NOVO</Title>
			<Description>Code Snippet ESTRUTURA SCRIPT NOVO</Description>
			<Author>Jhonatan Oliveira</Author>
			<SnippetTypes>
                                <SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="SQL">
/*==============================================================================
  SCRIPT      : [NOME_DO_SCRIPT]
  AUTOR       : [NOME_DO_AUTOR]
  DATA        : [YYYY-MM-DD]
  DESCRIÇÃO   : [DESCREVA DE FORMA CLARA O OBJETIVO DO SCRIPT]
==============================================================================*/

/*------------------------------------------------------------------------------
  OBJETOS UTILIZADOS
------------------------------------------------------------------------------*
  • Tabelas :
      - dbo.TABELA_1
      - dbo.TABELA_2
      - dbo.TABELA_3

  • Views   :
      - dbo.VIEW_1

  • Outros  :
      - dbo.SP_EXEMPLO
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  PARÂMETROS
------------------------------------------------------------------------------*
  DECLARE @DataInicio DATE = '2025-01-01';
  DECLARE @DataFim    DATE = '2025-01-31';
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  CONFIGURAÇÕES
------------------------------------------------------------------------------*/
SET NOCOUNT ON;
SET XACT_ABORT ON;
GO

/*==============================================================================
  INÍCIO DO SCRIPT
==============================================================================*/
BEGIN TRY
    BEGIN TRAN;

    ----------------------------------------------------------------------------
    -- BLOCO 01 – DESCRIÇÃO DO BLOCO
    ----------------------------------------------------------------------------
    -- [INSIRA OS COMANDOS SQL AQUI]

    -- EXEMPLO:
    -- SELECT *
    -- FROM dbo.TABELA_1;

    ----------------------------------------------------------------------------
    -- BLOCO 02 – OUTRA ETAPA
    ----------------------------------------------------------------------------
    -- [OUTROS COMANDOS]

    COMMIT TRAN;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRAN;

    ----------------------------------------------------------------------------
    -- TRATAMENTO DE ERRO
    ----------------------------------------------------------------------------
    SELECT
        ERROR_NUMBER()    AS ErrorNumber,
        ERROR_MESSAGE()   AS ErrorMessage,
        ERROR_LINE()      AS ErrorLine,
        ERROR_PROCEDURE() AS ErrorProcedure;
END CATCH
/*==============================================================================
  FIM DO SCRIPT
==============================================================================*/
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
